name: Deploy to OVH via SFTP

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Prepare Laravel directories
        run: |
          mkdir -p bootstrap/cache
          chmod -R 775 bootstrap/cache

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, openssl, pdo, pdo_mysql, tokenizer, xml, ctype, json, fileinfo, curl

      - name: Install Composer dependencies
        run: composer install --no-dev --optimize-autoloader

      # Ignore front-end build if Node.js is not needed
      - name: Skip NPM build (no Node.js available)
        run: echo "Skipping NPM build"
      
      - name: Prepare Laravel directories
        run: |
          mkdir -p bootstrap/cache
          mkdir -p storage/framework/views
          chmod -R 775 bootstrap/cache storage


      - name: Laravel optimize
        run: php artisan optimize

      - name: Upload to OVH via SFTP
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 22
          source: "."
          target: "/taprestation"
          strip_components: 1

