name: Build & Deploy Laravel to OVH

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: mbstring, pdo_mysql, openssl, fileinfo
      - name: Ensure Laravel bootstrap/cache exists
        run: |
          mkdir -p bootstrap/cache
          chmod -R 777 bootstrap/cache

      - name: Install Composer dependencies
        run: composer install --optimize-autoloader --no-dev

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install & build assets
        run: |
          npm install
          npm run build
