name: Build & Deploy Laravel to OVH

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          extensions: mbstring, pdo_mysql, openssl, fileinfo
      - name: Ensure Laravel bootstrap/cache exists
        run: |
          mkdir -p bootstrap/cache
          chmod -R 777 bootstrap/cache

      - name: Install Composer dependencies
        run: composer install --optimize-autoloader --no-dev

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install & build assets
        run: |
          npm install
          npm run build

      - name: Deploy to OVH (SCP)
        uses: appleboy/scp-action@v0.1.5
        with:
          host: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 22
          source: "./"
          target: "${{ secrets.FTP_PATH }}"
          rm: false
          strip_components: 0

